{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}
    
                <h1>Inscription</h1>
    
                {{ form_start(registrationForm) }}
                    <div class="mb-3">
                        {{ form_row(registrationForm.email, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'Email'
                            }
                        }) }}
                    </div>
    
                    <div class="mb-3">
                        {{ form_row(registrationForm.username, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'Username'
                            }
                        }) }}
                    </div>
    
                    <div class="mb-3">
                        {{ form_row(registrationForm.plainPassword, {
                            'label': 'Password',
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'Mot de passe'
                            }
                        }) }}
                    </div>
    
                    <div class="form-check mb-3">
                        {{ form_row(registrationForm.agreeTerms, {
                            'label': 'Accepter les conditions',
                            'attr': {
                                'class': 'form-check-input'
                            }
                        }) }}
                    </div>
    
                    <button type="submit" class="btn btn-primary">Register</button>
                {{ form_end(registrationForm) }}

            </div>
        </div>
    </div>
{% endblock %}


