{% extends "base.html.twig" %}

{% block title %}Snowtricks - Accueil
{% endblock %}

{% block body %}
	<div style="position: relative;">
		<img src="{{ asset('homepage_image/pexels-evgenia-kirpichnikova-1973293.jpg') }}" alt="image d'accueil" class="img-fluid w-100">
		<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
			<h1 class="text-center text-white">Figure de snowboard</h1>
		</div>
	</div>

	<div class="row">
		{% for trick in tricks %}
			<div class="card my-3" style="width: 18rem;">
				{% if trick.tricksImages is not empty %}
					<img src="{{ asset('uploads/images/' ~ trick.tricksImages.first().getImagePath()) }}" class="card-img-top" alt="{{ trick.name }}">
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ trick.name }}</h5>
					<p class="card-text">{{ trick.description }}</p>
					<a href="{{ path('app_trick_show', {'slug': trick.slug}) }}" class="btn btn-primary">Voir</a>
					<a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}" class="btn btn-primary">Éditer</a>
				</div>
			</div>
		{% endfor %}
	{% endblock %}
