{% extends 'base.html.twig' %}

{% block title %}TrickImage{% endblock %}

{% block body %}
    <h1>TrickImage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trick_image.id }}</td>
            </tr>
            <tr>
                <th>ImagePath</th>
                <td>{{ trick_image.imagePath }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_trick_image_index') }}">back to list</a>

    <a href="{{ path('app_trick_image_edit', {'id': trick_image.id}) }}">edit</a>

    {{ include('trick_image/_delete_form.html.twig') }}
{% endblock %}
