{% block stylesheets %}
	<style>
		.banner {
			height: 700px;
			object-fit: cover;
		}

		@media(max-width: 992px) {
			.banner {
				height: 50vh;
			}
		}
	</style>
{% endblock %}

<div class="container-fluid p-0">
	<div class="position-relative">
		<img src="{{ asset('uploads/images/' ~ (trick.tricksImages.first() is defined ? trick.tricksImages.first().getImagePath() : 'default.png')) }}" alt="{{ trick.name }}" class="w-100 banner">
		<div class="position-absolute top-50 start-50 translate-middle">
			<h1 class="text-center text-white">{{ trick.name }}</h1>
		</div>
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<div class="position-absolute top-0 end-0 bg-white rounded p-1 d-flex">
				<a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}" class="btn btn-light">
					<img src="{{ asset('homepage_image/pen.svg') }}" alt="Pen Icon" width="24"/>
				</a>
				{{ include('trick/_delete_form.html.twig') }}
			</div>
		{% endif %}
	</div>

	<!-- Remaining part of the twig template -->


	<div class="row flex-row flex-nowrap overflow-auto py-3">
		{% for image in trick.tricksImages %}
			<div class="card mx-3" style="width: 18rem;">
				<img src="{{ asset('uploads/images/' ~ image.getImagePath()) }}" class="card-img-top" alt="{{ trick.name }}">
				{{ include('trick_image/_delete_form.html.twig') }}
			</div>
		{% endfor %}
		{% for video in trick.trickVideos %}
			<div class="card mx-3" style="width: 18rem;">
				<iframe src="{{ video.url }}" class="card-img-top"></iframe>
				{{ include('trick_video/_delete_form.html.twig') }}
			</div>
		{% endfor %}
	</div>

	{{ form_start(form) }}
	<div class="row mb-4 px-5">
		<div class="col-12 col-md-10 mx-auto">
			{{ form_label(form.trickVideos) }}
			<button type="button" class="add_item_link" data-collection-holder-class="videos">Add media</button>
			<ul class="videos" data-index="{{ form.trickVideos|length }}" data-prototype="{{ form_widget(form.trickVideos.vars.prototype)|e('html_attr') }}"></ul>

			{{ form_help(form.trickVideos) }}

			{% do form.trickVideos.setRendered %}
		</div>
	</div>
	<button class="btn btn-primary"style="background-color: cornflowerblue;" >{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}


</div>

