{% extends 'base.html.twig' %}

{% block title %}Trick index
{% endblock %}

{% block body %}
	{% for message in app.flashes('success_trick_creation') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<h1>Index des figures</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for trick in tricks %}
				<tr>
				
					<td>{{ trick.name }}</td>
					<td>
						<a href="{{ path('app_trick_show', {'slug': trick.slug}) }}">Voir</a>
						<a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}">Editer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_trick_new') }}">Création nouvelle figure</a>
{% endblock %}
