{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{ asset('css/tricks.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Trick
{% endblock %}

{% block body %}

	<table class="table">
		<tbody>
			<div class="homepage-image-container">
				<img src="{{ asset('uploads/images/' ~ trick.tricksImages.first().getImagePath()) }}" alt="{{ trick.name }}" class="homepage-image img-fluid">
				<div class="homepage-image-content">
					<h1 class="text-center text-white">{{ trick.name }}</h1>
				</div>
				<div style="position: absolute; top: 10px; right: 10px; background-color: #fff; border-radius: 10px; display: flex; padding : 4px;"></div>
			</div>


			<div class="row flex-row flex-nowrap overflow-auto" id="slider_image_video">
				{% for image in trick.tricksImages %}
					<div class="card my-3" style="width: 18rem;">
						<img src="{{ asset('uploads/images/' ~ image.getImagePath()) }}" class="card-img-top" alt="{{ trick.name }}">
					</div>
				{% endfor %}
				{% for video in trick.trickVideos %}
					<div class="card my-3" style="width: 18rem;">
						<iframe src="{{ video.url }}" class="card-img-top"></iframe>
					</div>
				{% endfor %}
			</div>

			<div id="description_element">
				{{ trick.description }}
			</div>

			<div id="comment_element">
				{% for comment in comments %}
					<div class="comment">
						<img src="{{ asset(comment.user.profilePicture) }}" alt="Photo de profil"/>
						<h3>{{ comment.user.username }}</h3>
						<p>{{ comment.dateCreated|date('d/m/Y H:i') }}</p>
						<p>{{ comment.content }}</p>
					</div>
				{% else %}
					<p>No comments yet.</p>
				{% endfor %}
				{% if app.user %}
					<h3>Ajouter un commentaire:</h3>
					{{ form_start(commentForm) }}
					{{ form_widget(commentForm) }}
					{{ form_end(commentForm) }}
				{% else %}
					<p>Vous devez être connecté pour ajouter un commentaire.</p>
				{% endif %}

				<div class="pagination">
					{% for page in 1..totalPages %}
						{% if page == currentPage %}
							<span>{{ page }}</span>
						{% else %}
							<a href="{{ path('app_trick_show', {'slug': trick.slug, 'page': page}) }}">{{ page }}</a>
						{% endif %}
					{% endfor %}
				</div>
			</tbody>
		</tbody>
	</div>
	<div id="group_element">
		{{ trick.group.name  }}
	</div>


</tbody></table><a href="{{ path('home.index') }}" class="btn btn-primary" style="background-color: cornflowerblue; padding: px;">Retour accueil</a><style>
.homepage-image-container {
	position: relative;
	max-height: 650px; /* Définir la hauteur maximale souhaitée */
	overflow: hidden;
}

.homepage-image {
	width: 100%;
	height: auto;
}

.homepage-image-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.img-responsive {
	height: 500px;
	width: auto;
}

.card {
	margin-right: 10px;
}

#slider_image_video {
	margin: 0 60px;
}

#comment_element {
	max-width: 900px;
	margin: 10px auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 20px;
}

#description_element {
	max-width: 900px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 20px;
}
#group_element {
	max-width: 900px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 20px;
}</style>{% endblock %}
